.header {
	width: 100%;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-image: url("../imgs/cover.png");
	background-size: cover;
}

.logo {
	width: 100px;
	height: 100px;
	order: 1;
}

.blog-title {
	order: 2;
	margin: auto;
}

.tagline {
	order: 3;
	margin: auto;
}